<h3>{{currentUser}} welcome to {{currentRoom}}</h3>
<h4 ng-cloak ng-show="topic != ''">Topic: {{topic}}</h4>
<div class="col-md-6">
	<div class="alert alert-danger" ng-cloak ng-show="errorMessage != ''">
		{{errorMessage}}
	</div>
	<div class="well chatbox" id="chat_history">
		<ul class="list-unstyled chatroom chat scroll" id="txtMultiLine">
			<li ng-repeat="message in messages">
				<span>{{formatTimestamp(message.timestamp)}}</span> &nbsp;&nbsp;&nbsp;&nbsp;
				<span>{{message.nick}}: </span>&nbsp;&nbsp;
				<span>{{message.message}}</span>
			</li>
		</ul>
	</div>
		<form ng-submit="sendMessage()">
			<div class="input-group">
				<input class="input-sm form-control" ng-model="newMessage" type="text">
				<span class="input-group-btn">
					<input class="input-sm btn btn-default" type="submit" value="Send">
				</span>
			</div>
		</form>
</div>
<div class="col-md-3">
	<div class="panel panel-default" ng-cloak ng-show="receiveName != ''">
		<div class="panel-heading">Send private message</div>
			<div class="panel-body">
				<div class="alert alert-danger" ng-cloak ng-show="pmErrorMessage != ''">
					{{pmErrorMessage}}
				</div>


				<div class="form-group">
					<label for="receiveName">Username</label>
					<p ng-model="receiveName">{{receiveName}}</p>
					<div class="well chatbox" id="pmHistory">
					<ul class="scrollPM list-unstyled privatemsg prChat">
						<li tabindex="1" ng-repeat="pmObj in currentPmHistory">
						<span>{{pmObj.sender}}:</span>
						<span>{{pmObj.message}}</span>
						</li>
					</ul>
					</div>
				</div>
				<div>
					<label for="privateMsg">Message</label>

					<textarea rows="4" cols="29" id="privateMsg" name="privateMsg" ng-model="privateMsg">
					</textarea>
				</div>

				<div>
					<button type="button" id="scroll" class="btn btn-default" ng-click="sendPM()">Send PM</button>
					<button type="button" class="btn btn-default" ng-click="hidePMchat()">Hide PMchat</button>	
				</div>
			</div>
	</div>
</div>
<div class="col-md-3">
	<div class="alert alert-danger" ng-cloak ng-show="PMsender != ''">
			<button type ="button" class="btn btn-success" ng-click="pmReceived(PMsender)">{{PMsender}}</button>
			<p>Just sent you a private message</p>
	</div>
	<h4>Other users in this room</h4>
	<div class="well">
		<div class="row">
			<div class="col-md-6">
				<ul class="list-unstyled">
					<li ng-repeat="user in currentUsers | removeCurrentUser">
						<span class ="glyphicon glyphicon-user btn-lg"><button type="button" id="roomUsers" class="btn btn-link" ng:click="pmToUser(user)" >{{user}}</button></span>
					</li>
				</ul>
			</div>
			<div class="col-md-offset-2 col-md-4 topPad">
				<div class="dropdown menupad" ng-repeat="user in currentUsers | removeCurrentUser" ng-cloak ng-show="currentOp != ''">
					<div class="btn-group">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						<i class="fa fa-cog"></i> <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a ng-click="kickUser(user)">Kick</a></li>
    					<li><a ng-click="banUser(user)">Ban</a></li>
    					<li><a ng-click="op(user)">Make op</a></li>
    					<li><a ng-click="deop(user)">Deop user</a></li>
					</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<form ng-submit="setTopic(topic2)" ng-cloak ng-show="currentOp != ''" class="opActions">
		<div class="input-group">
			<input class="input-sm form-control" ng-model="topic2" type="text">
			<span class="input-group-btn">
				<input class="input-sm btn btn-default" type="submit" value="Set topic">
			</span>
		</div>
	</form>

	<form ng-submit="setPassword()" ng-cloak ng-show="currentOp != ''" class="opActions">
		<div class="input-group">
			<input class="input-sm form-control" ng-model="password" type="text">
			<span class="input-group-btn">
				<input class="input-sm btn btn-default" type="submit" value="Set password">
			</span>
		</div>
	</form>

	<div class="opActions">
		<button type="button" class="btn btn-default" ng-click="leaveRoom()">Leave room</button>
		<button type="button" class="btn btn-default" ng-click="removePassword()" ng-cloak ng-show="currentOp != ''">Remove password</button>
	</div>
</div>
